.material-symbols-outlined {
    cursor: pointer;
    /* font-size: 20px; */
}

.material-symbols-outlined-close {
    cursor: pointer;
}


  .popup {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-background);
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    z-index: 9999;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.popup.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.selected_gear{
    background-color:crimson;
}
.non_selected_gear{
    background-color:transparent;
}


.btn {
    border-radius: 8px;
}

.btn:hover {
    background-color: #3756a6;
    transform: scale(1.05);
}


   .close {
    font-size: 25px;
    padding: 5px 0px 5px 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.location-box {
    position: absolute;
    top: 150px;
    right: 10px; 
    background: white;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 3; 
}

.location-box.visible {
    display: block !important;
}


.modal-content {
    background-color: #ffffff;
    border: 1px solid #ccc;
    /* width: 40%; */
    max-width: 600px;
    min-width: 300px;
    height: auto;
    max-height: 60vh;
    border-radius: 15px;
    overflow: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.4s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.modal-header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 10;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

input[type="text"], .search-text {
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease;
}

input[type="text"]:focus, .search-text:focus {
    border-color: #4e73df;
    box-shadow: 0px 0px 6px rgba(78, 115, 223, 0.4);
}

.new-sub-theme {
    color: var(--primary);
    padding: 1rem;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #4e5469 0%, #9face6 100%);
    font-weight: bold;
}

.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner img {
    width: 100px;
    height: 100px;
}

@media (max-width:570px) {
    
    .popup {
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        padding: 8px 12px;
        text-align: center;

    }
    
    .modal-content {
        width: 90%;
        height: auto;
        font-size: 14px;
        padding-top: 0;
    }

    .btn {
        font-size: 14px;
        padding: 7px 10px;
        border-radius: 8px;

    }
    
    .fab-action-button {
        padding: 5px;
    }

    .fab-action-button-layer {
        padding: 5px;
    }
    .footer {
        font-size: 11px;
        text-align: center;
    }
    
    .searchBox {
        top: 80px;
    }

    .searchBoxAddress {
        top: 110px;
    }
}

@media (max-width:1500px) {

    .modal-content {
        height: auto;
        width: 50%;
    }

}

@media (max-width:820px) {
    .modal-content {
        width: 60%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.layer-control-icons {
    display: flex;
    gap: 1px;
    align-items: center;
}

@media (max-width: 768px) {
    .location-box {
        position: fixed;
        top: 100px; 
        right: 20px; 
        width: auto;
        transform: none; 
        font-size: 12px;
    }

    .layer-control-icons {
        display: none; 
    }

    .layer-control-icons.show-icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 105px; 
        right: 10px;
        background: white;
        padding: 1px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .mobile-toggle {
        display: block; 
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        right: 10px; 
        top: 65px;
        background: white;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .searchBox {
        top: 100px;
        right: 20px;
    }

    .searchBoxAddress {
        top: 129px;
        right: 20px;
    }
}

@media (min-width: 769px) {
    .mobile-toggle {
        display: none !important;
    }
} 

@media (max-width: 570px) {
    .chart-modal {
        z-index: 5;
        height: auto;
    }

    .chart-modal img {
        height: 50px !important;
    }
    
    .chart-modal p {  
        font-size: small;
        margin: 0;  
        font-weight: 200;
    }

    .layer-control-icons.show-icons {
        right: 14px;
    }
}


select {
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    color: rgba(22, 22, 22, 0.8);
    height: 20px;
}


.button-style {
    border-radius: 5px;
    border-color: rgba(51, 51, 51, .18);
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    color: rgba(22, 22, 22, 0.8);
}

.heading-span {
    font-size: large;
}

.chart-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.footer {
    text-align: center;
}

@media (max-width: 570px) {
    #layer-controller {
      bottom: 40px;
      position: fixed;
      top: auto;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 98%;
      margin: 0px auto;
      font-size: 14px;
      border-radius: 20px 20px 0px 0px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    }

    #toolModal {
        position: fixed;
        top: auto;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 98%;
        height: auto;
        max-height: 350px;
        border-radius: 20px 20px 0px 0px;
    }
  
    .tool-modal-content {
      width: 100%;
      height: auto;
      border-radius: 20px 20px 0px 0px;
      padding: 15px;
    }

  }

.theme-name {
    color: #f9d64c;
}

.layer-on {
    background-color: crimson;
    color: white;
}

.layer-off {
    background-color: white;
    color: #444643;
}

