/* The Close Button */
.close {
    color: var(--primary-background);
    font-size: 28px;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 5px;
    float: right;
}

.close:hover,
.close:focus,
.search-text:focus,
.back-arrow:hover {
    /* color: #7a6464; */
    text-decoration: none;
    cursor: pointer;
    /* background-color: #e9e6e6; */

}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.search-text {
    border: 0.5px solid var(--primary-background);
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    width: 90%;

    background-repeat: no-repeat;
    padding: 5px 30px;
    background-color: #dfd9d9c2;
    background-position: 5px;
    flex-grow: 1;

}

.search-text:hover {
    border: 0.5px solid #ccc;
}



/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    /* width: 80%;
    height: 40%; */
    width: 40%;
    height: 45%;
    border-radius: 25px;
    overflow: auto;
    padding: 20px;
    padding-top: 0;



}
.tool-modal-content #tool-modal-title{
    padding-left:1vw;
    font-weight: bold;
    min-width: 250px;
    width:100%;
    color:#D2042D; /*  #03128d*/
}

.tool-modal-content #tool-modal-close{
    right:0px;
    flex-grow:0;
    font-weight: bold;
    /* color:#03128d; */
    color: var(--primary-background);
    cursor: pointer;
}

.tool-modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 2px solid #888;
    /* width: 80%;
    height: 40%; */
    width: 100%; /*50%;*/
    height: 45%;
    border-radius: 25px;
    overflow: auto;

    padding: 15px;
    /* padding-top: 30px;
    padding-left: 55px;
    padding-right: 20px; */
    min-width: 260px;
    max-width: 350px;
    box-shadow: 3px 3px 10px gray;
}


.modal-display-block {
    display: block;
}

.modal-display-none {
    display: none;
}



/*.modal-content>.theme-row {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}
.modal-content>.theme-row>.theme {
    height: 200px;
    width: 45%;
    border-radius: 5px;
}*/


.theme {
    border-radius: 15px;
    background-color: var(--secondary-background);
    padding: 0px;

}


.sub-theme {
    /* background-image: url('../assets/img/reference_background.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;

}

.subtheme-name {
    padding: 5px 10px;
    /* color: white; */
    color: var(--primary);
    letter-spacing: 0.05em;
    font-size: 17px;

}

.theme-name {
    /* text-align: center; */
    padding: 8px 10px;

    /* color: var(--primary);*/
    color: #fb813d;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 20px;
}


/* .sub-theme:hover, */
.subtheme-name:hover {
    background-color: var(--hover);
    cursor: pointer;
}





.back-arrow {
    border: 0.5px solid #bbb;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    background-repeat: no-repeat;
    background-color: #dfd9d9;
}


.modal-header {
    display: flex;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 20px;
    width: 98%;



}


.sub-theme-menu {

    height: 80%;
    margin: 10px 0px;
    /* background-image: url(../assets/img/background/sub_menu.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    color: black;
    padding: 5px;
    background-color: var(--secondary-background);
    overflow: auto;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
}

.sub-theme-menu>.close {
    padding: 0.5px 5px;
    background-color: #d95b5b;
    border: none;
    color: white;
}

.subtheme-layer {
    /* padding: 5px; */
    letter-spacing: 0.05em;
    display: flex;
    font-size: 15px;
    align-items: center;
}



input[type='text'] {

    outline: none;
}





body {
    border: none
}





.new-theme {
    background-color: rgb(26 125 183);
    border-radius: 15px;
    padding: 10px;
    width: 45%;
}

@media (max-width:570px) {


    .modal-content>.theme-row>.theme {
        width: 100%;
    }

    .modal-content {
        height: 70%;
        font-size: 15px;
        width: 80%
    }



    .theme-name {
        font-size: 16px;
    }

    .subtheme-name,
    .subtheme-layer {
        font-size: 14px;
    }


}

@media (max-width:1500px) {
    .modal-content {
        height: 55%;
    }

    .modal-content>.theme-row {
        flex-direction: column;
        max-height: 425px;
        overflow: auto;
        width: 90%
    }

    .new-theme {

        width: 93%;
    }



}

@media (max-width:820px) {
    .modal-content {
        height: 55%;
    }
}

/* 
@media (min-width:820px) and (max-width:1500px) {
    .modal-content {
        height: 45%;
    }
} */
