.new-sub-theme {
    color: white;
    padding: 1rem;
    background-color: rgb(26 125 183);
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(90deg, #4e5469 0%, #9FACE6 100%);
}

.themes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 1rem;
}