:root {
    --primary-background: #0488D0;
    --primary: white;
    --btn-border: #9aed9ab0;
    --secondary-background: white;
    --secondary: #ccc;
    --hover: rgb(205 227 189 / 41%);
}



body,
html {
    font-family: "Fira Sans", sans-serif;
    color: #131f0e;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.theme-content {
    padding: 10px;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#layer-controller {
    position: fixed;
    top: 160px;
    display: flex;
    flex-direction: column;
    border: 1px solid #00000029;
    z-index: 20;
    background-color: #fff;
    margin-left: 5px;
    max-height: 350px;
    overflow: auto;
    width: 400px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4)
}

#heading-row,
#container {
    display: flex;
    border-bottom: 1px solid #00000029;
    align-items: center;
    width: 100%;

}

#container {
    flex-direction: column-reverse;
    max-height: 350px;
    overflow: auto;
}

.layer-row {
    padding: 10px 0px;
    width: 100%;

    /* display: flex; */
    /* border-bottom: 1px solid #00000029; */
}

.heading-col {
    padding: 5px 15px;
    flex: 1;
    display: flex;
    justify-content: end;


}

span {
    flex: 1;

}

.layer-on {
    background-color: crimson;
    color: white;
}

.layer-off {
    background-color: white;
    color: #444643;
}

/* .layer-row:first-child {

    border-top: 1px solid #00000029;
} */


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.text.-color-8 {
    color: rgba(51, 51, 51, .8);
}

.heading-span {
    padding: 10px;
    color: #1892db;
    font-weight: bold;
}

.layer-param {
    margin: 5px 8px;
    display: inline-block;
    margin-bottom: 5px;
}

select {
    /* border-radius: 15px; */
    border-color: rgba(51, 51, 51, .18);
    /* color: rgba(51, 51, 51, .8); */
    padding: 1px 5px;
    cursor: pointer;

}

select[editable]>button {
    stroke: #f00 !important;
}

.fab-action-button {
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.fab-action-button-close {
    background: #eee;
    border-radius: 10px;
    padding: 3px 4px;
    color: var(--primary-background);
    max-height: 15px;

}

.fab-action-button-layer {

    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.material-symbols-outlined-close {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    /* font-size: 16px; */
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#swipePanel {
    display: inline-block;
    position: fixed;
    bottom: 90px;
    background: white;
    z-index: 10;
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-radius: 10px;
}

.header {
    padding: 0px 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--primary-background);
    font-family: arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    border-bottom: 3px solid var(--primary-background);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(180, 210, 255) 80%, rgb(255, 255, 255) 100%)
}

.footer {
    background-color: var(--primary-background);
    display: flex;
    justify-content: center;
    /* height: 2%; */
    padding: 8px;
    font-family: arial, sans-serif;
    width: 100%;
    color: var(--primary);

}

.header img {
    max-height: 60px;
}

.header-left {
    display: flex;
    justify-content: flex-start;

    font-weight: bold;
    /* padding: 15px 5px; */
}

.text-gradient {
    font-weight: bold;
    background: -webkit-linear-gradient(#9ba2fd, #023b5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-center {
    display: flex;
    flex: 1;
    justify-content: center;
    letter-spacing: 0.5px;
}



.ol-control button,
.ol-scale-line-inner {
    background-color: var(--primary-background);
    color: var(--primary);
}

.ol-scale-line-inner {
    font-size: 15px;
}

.layer-name {
    flex-grow: 1;
    font-weight: bold;
    color: #0C2338;
    /* min-width: 210px; */
    /* max-width: 210px; */
}

.layer-group {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.btn {
    /* background-color: #396a28; */
    background-color: var(--primary-background);
    padding: 8px 15px;
    color: var(--primary);
    font-size: 15px;
    /* border-radius: 20px; */
    margin: 5px;
    border: none;
    cursor: pointer;

    /* width: 100%; */

}

.layer {
    display: flex;
    gap: 20px;
    padding: 5px 10px;
}

.layer-submenu {
    padding: 5px;
    /* display: flex; */

}

.close-img {
    padding: 0px;
    background-color: #ddd;
    border-radius: 50px;
    height: 18px;
    width: 16px;

}

.vedas-logo {
    height: 80px;
    width: 80px;
    z-index: 10;
    position: fixed;
    left: 50px;
}

.header-mobile {
    display: none;
}

.action-buttons {
    position: fixed;
    top: 95px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}






.material-symbols-outlined-arrow {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    /* font-size: 24px; */
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.fab-action-arrow {
    background: white;
    border-radius: 10px;

}

.span-arrow {
    flex: 0;
    padding: 2px;
}

.span-arrow:hover {
    cursor: pointer;
    background-color: #eee;
}

.back-arrow:hover {
    background-color: #888;
    cursor: pointer;
}

@media (max-width:570px) {
    /* body {
        font-size: 15px;
    } */

    #layer-controller {
        bottom: 40px;
        position: fixed;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 98%;
        margin: 0px auto;
        font-size: 14px;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3)
    }

    .header-mobile {
        display: block;
        font-size: 25px;
    }
    .searchBox{
   
        /* margin-top: 140px; */
     
    }
    .searchBoxAddress{
        /* margin-top: 150px; */
       
        /* margin-top: 140px; */
     
    }
    .header-desktop {
        display: none;
    }

    #container {
        max-height: 250px;
        overflow: auto;

    }

    .header {
        /* font-size: 18px; */
    }

    .footer {
        font-size: 7.5px;
    }

    .ol-scale-line {
        bottom: auto;
        left: 2%;
        position: fixed;
        top: 80px;


    }

    .layer-control-icons {
        display: flex;
        flex-direction: column;
    }

    .ol-control {
        top: 40px;
    }

    .ol-touch .ol-control button {
        font-size: 1em;
    }

    .ol-scale-line-inner {
        font-size: 11px;
        width: 80px;
    }

    .vedas-logo {
        height: 60px;
        width: 60px;
        position: fixed;
        left: 50px;
        top: 100px;
    }

    .btn {
        font-size: 12px;
    }

    #swipePanel {
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 94.5%;
        margin: 0px auto;
        font-size: 14px;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3)
    }
}


.layer-panel:hover {
    cursor: pointer;
}

.ol-attribution{
    display: none;
}

.chart{
    overflow: hidden;
    position: fixed;
    bottom: 40px;
    z-index: 1;
    
}

.chart{
    /* height: 40%;
    width: 100%;
    background-color: #a1c5da; */
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    bottom: 0;
    /* translate: -50%;
    left: 50%; */
    z-index: 999;
    background-color: white;
    border: 1px solid black;
}

/* The Close Button */
.chart-close-button {
  
    /* font-size: 28px; */
    font-weight: bold;
    background-color: #0488d0;
    color: white;
    border-radius: 10px;
    padding: 4px;
    margin-top: 8px;
    margin-right: 5px;
    height: 25px;
  
  }
  
  .chart-close:hover,
  .chart-close:focus {
    color: #031255;
    text-decoration: none;
    cursor: pointer;
  }
  
  
#chart-modal {
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    bottom: 0;
    /* translate: -50%;
    left: 50%; */
    z-index: 999;
    background-color: white;
    border: 1px solid black;
  }


  .close-button {
   padding: 5px;
    background-color: #f00;
border-radius: 15px;
    background-color: #0488d0;
    cursor: pointer;
}

.close-button:hover{
background-color: #096fa7;
color: white;
}

.chart-modal {
    display: block;
    position: fixed;
    z-index: 10;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 20px;
    border-radius: 15px;
  }

.legend{
    max-height: 40px;
}


.chart-container-new {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: lightblue;
    /* Add your desired background color */
  }

.container-new {
    display: flex;
    position: fixed;
    z-index: 25;
    bottom: 30px;
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #0488d0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    /* Customize the close button style as needed */
  }
  #toolModal{
    position: fixed;
    right: 20%;
    top: 100px;
    width: 60%;
    z-index: 5;
  }
  .tool-content{
    padding: 10px;
    padding-bottom: 0px;
  }
  .tool-label{
    font-size: 17px;
    font-weight: bold;
    color: #0488d0;
  }

  .legendHeight{
    max-height: 840px;
    position: relative;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .searchBox {
    /* /* position: fixed; */
    padding: 3px;
    /* display: none; */
    top: 170px;
    right: 10px;
    position: absolute;
    /* Negative half of height. */
    /* margin-left: -76px; */
    z-index: 2;
    font-size: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);

    -webkit-box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
    -moz-box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
    box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
}

.searchBoxAddress {
    padding: 3px;
    top: 200px;
    position: absolute;
    right: 10px;
    z-index: 2;
    font-size: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);

    -webkit-box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
    -moz-box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
    box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
}
.goButton {
    background-color: rgba(33, 150, 243, 1);
    color: white;
    border: transparent;
    border-radius: 10px;
}

.search-box {
    border: transparent;
    width: 110px;
}



.autocomplete {
    padding: 3px;
    top: 140px;
    position: absolute;
    right: 10px;
    z-index: 2;
    font-size: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
    -moz-box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
    box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.35);
}

.autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #0e2292;
    background-color: #e4f7cf;
    border-bottom: 1px solid #0e2292;
    font-size: 12px;
    text-align: left;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: rgb(62, 182, 233) !important;
    color: #ffffff;
}

.tools-options>div {
    padding-right: 15px;
}

.tools-options {
    display: flex;
    padding-top: 15px;
}