<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="UVA( Unified Visualization And Analysis) is a unified portal to visualize and analyse data of different domains at single platform.">
    <meta name="keywords" content="UVA, Visualization, analysis, Unified">
    <!-- Importing vue lib -->
    <script src="js/lib/proj_2.7.5.js"></script>
    <script src="js/lib/shp.min.js"></script>
    <script src="js/lib/ol_6.5.0.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/lib/openlocationcode.min.js"></script>



    <script src="js/config.js"></script>
    <script src="js/legacy_config.js"></script>
    <script src="js/lib/vue_2.7.14.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <!-- importing open layer library and style. -->
    <link rel="stylesheet" href="css/lib/ol_6.5.0.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/newStyle.css">
    <link rel="stylesheet" href="css/story_modal.css">
    <link rel="stylesheet" href="css/switch.css">
    <link rel="stylesheet" href="css/custom.css">
    <link href="assets/img/icons/favicon.ico" rel="icon">
    <link rel="stylesheet" href="css/material_symbol.css">
    <link rel="stylesheet" href="https://vedas.sac.gov.in/vstatic/data_monitoring_system/css/material_symbol.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"rel="stylesheet"> -->

    <!--add highcharts library from cdn -->
    <script src="js/lib/highcharts.js"></script>
    <script src="js/lib/exporting.js"></script>
    <script src="js/lib/export-data.js"></script>
    <script src="js/lib/accessibility.js"></script>
    <!-- add jsPDF library from cdn -->
    <script src="js/lib/jspdf.umd.min.js"></script>

    <!-- add autotable from cdn -->
    <script src="js/lib/jspdf.plugin.autotable.min.js"></script>

    <!-- import sheetjs from cdn -->
    <script lang="javascript" src="js/lib/xlsx.full.min.js"></script>

    <script type="module" src="js/referenceLayers.js"></script>
    <title>Vedas UVA</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    /* 
    width: 100%;
  
  bottom: 48px;
  display: flex;
  
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid grey;
} */

    .heatmap-container {
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        font-family: Arial, sans-serif;
        margin: 0 auto;
        max-width: 100%;
        border: 1px solid #ccc;
    }

    .row {
        display: flex;
        width: 100%;
    }

    .cell {
        flex: 1 1 60px;
        /* min-width: 50px; */
        height: 40px;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5em;
        text-align: center;
        position: relative;
        overflow: visible;
        /* important for tooltip */
        word-break: break-word;
        background-clip: padding-box;
    }

    .cell::after {
        content: attr(data-tooltip);
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.85);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 8px;
        position: absolute;
        z-index: 10;
        bottom: 110%;
        /* above the cell */
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
    }

    .cell:hover::after {
        visibility: visible;
        opacity: 1;
    }

    .cell_header {
        background-color: #f4f4f4;
        font-weight: bold;
        color: #333;
    }

    @media (max-width: 768px) {
        .cell {
            font-size: 0.7em;
            /* min-width: 40px; */
            height: 35px;
        }
    }

    @media (max-width: 480px) {
        .cell {
            font-size: 0.6em;
            /* min-width: 30px; */
            height: 30px;
        }
    }
</style>
<style>
    #map {
        height: 96%;
        width: auto
    }

    .ol-mouse-position {
        top: 75px;
        right: 18px;
        position: absolute;
        text-shadow: 1px 1px 12px black;
        /* color: var(--primary-background); */
        color: #03128d;
        font-size: 14px;
        z-index: 9999;
        right: 10px;
        background-color: white;
        z-index: 9999;
        padding: 2px 5px;
        border-radius: 5px;
    }

    /* .ol-scale-line {
        bottom: 5% !important;
    } */
</style>

<body>

    <div id="app">

        <div v-show="!hideBanner" class="header">

            <div class="header-left header-desktop" style="font-weight:normal; color: #f96f25;">
                <span v-show="appTitle=='Unified Visualization and Analysis'"
                    style="flex-grow: 0;">VEDAS&nbsp;&nbsp;</span>
                <span class="text-gradient">{{appTitle}}</span>
            </div>
            <div class="header-left header-mobile" style="font-weight:normal; color: #f96f25;">
                <span>&nbsp;&nbsp;</span><strong class="text-gradient">{{shortTitle}}</strong>
                <p class="text-gradient"
                    style="font-size: x-small; font-weight: 700; margin-top: auto; margin-bottom: 0px; margin-left: 14px;">
                    (Unified Visualization and Analysis)</p>
            </div>
            <div class="header-center"></div>
            <div class="header-right">
                <a href="https://www.sac.gov.in" target="_blank">
                    <img src="assets/img/logo/sac.png" alt="ISRO Logo" />
                </a>
                <a href="https://www.isro.gov.in" target="_blank">
                    <img src="assets/img/logo/ISRO_logo.png" alt="ISRO Logo" />
                </a>
            </div>
        </div>

        <!-- Buttons like compare/swipe, share and toggle laye controller box -->
        <div class="action-buttons">
            <!-- Toggle Button for Mobile -->
            <span @click="isMenuOpen = !isMenuOpen" class="material-symbols-outlined fab-action-button mobile-toggle">
                menu
            </span>
            <div class="layer-control-icons" :class="{ 'show-icons': isMenuOpen }">
                <span @click='isShowLayersPanel = !isShowLayersPanel'
                    class="material-symbols-outlined fab-action-button-layer" title="Toggle layer panel"
                    :class="[isShowLayersPanel? 'layer-on':'layer-off' ]">layers</span>
                <span @click="prepareStoryId()" class="material-symbols-outlined fab-action-button"
                    title="Share">share</span>
                <span v-if="!showSwipePanel" @click="openSwipe()" class="material-symbols-outlined fab-action-button"
                    title="Swipe">compare</span>
                <span v-if="showSwipePanel" @click="closeSwipe()" style="background-color:crimson; color:white;"
                    class="material-symbols-outlined fab-action-button" title="Swipe">compare</span>
                <span class="material-symbols-outlined fab-action-button"
                    title="Help (PDF Size: 663KB Language: English)" aria-label="helpText"
                    onclick="window.open('Satellite Data Visualization (NRT).pdf');">help</span>
                <span @click="toggleLocationSearch()" class="material-symbols-outlined fab-action-button"
                    :class="isLocationSearchVisible ? 'layer-on' : 'layer-off'" title="Find Location">location_on</span>
                <span @click="getLocationSearch" :class="isMyLocationVisible ? 'layer-on' : 'layer-off'"
                    class="material-symbols-outlined fab-action-button" title="My Location">my_location</span>
                <span @click="toggleGrid" :class="isMyLocationVisible ? 'layer-on' : 'layer-off'"
                    class="material-symbols-outlined fab-action-button" title="Grid On">grid_on</span>
            </div>
        </div>

        <!-- On click compare/swipe panel opens a swipe panel where user can move layer from left to right for analysis. -->
        <div id="swipePanel" v-if="showSwipePanel">
            <div style="display:flex;">
                <span style="color:grey; flex-grow:0;">Swipe</span>&nbsp;&nbsp;
                <select v-model="swipeLayerConfigId" style="margin-right:20px;" @change="openSwipe()">
                    <option v-for="(layer,id) in selectedLayerConfigToShow" :value="id" v-if="layer.isShow" :key="id">
                        {{layer.displayName}}
                    </option>
                </select>
            </div>
            <div>
                <input @input="renderMap()" id="swipeInput" type="range" min="0" max="100" step="1"
                    style="width:100%; margin-right:20px;" />
            </div>
        </div>


        <!-- Container to show slope chart -->
        <!-- <div id='chart-modal' v-if="isShowChart">
        <span class="chart-close" @click="isShowChart = false">&times;</span>
        <div v-show="loadingChart" id="loading-chart">{{loadingChart}}</div>
        <div id="chart-container" class="chart-container"></div>
      </div>
 -->
        <div class="backdrop" v-show="loadChartMsg"></div>
        <div class="chart-modal" id="chartModal" v-show="loadChartMsg">
            <img src="assets/img/loading2.gif" style="height: 70px;">
            <p>{{loadChartMsg}}</p>
        </div>

        <div class="container-new" v-show="isShowToolOutput">
            <div id="chart-container" style="flex-grow: 1;"></div>
            <button @click='loadChartMsg="";isShowToolOutput=false; runToolAnalysis();'
                class="chart-close-button">X</button>
        </div>


        <!-- <div class="chart-container-new" v-if="isShowToolOutput">
    <span><button @click='isShowToolOutput=false;'class="close-button">&times;</button></span>
    <div id="chart-container" class="chart" ></div>
    
  </div> -->

        <!-- <div class="chart" v-if="isShowToolOutput">
            <span class="chart-close" ><button @click='isShowToolOutput=false;'class="close-button">X</button></span>  
            <div id="chart-container" class="chart" ></div>
            
        </div> -->


        <div id='layer-controller' v-show="isShowLayersPanel">
            <div id="heading-row">
                <div class="heading-col layer-panel" @click="isShowLayersPanel=false" title="Toggle layer panel">
                    <svg height="34" viewBox="0 -960 960 960" width="24">
                        <path
                            d="M480-118 120-398l66-50 294 228 294-228 66 50-360 280Zm0-202L120-600l360-280 360 280-360 280Zm0-280Zm0 178 230-178-230-178-230 178 230 178Z" />
                    </svg>
                    <span class="heading-span">Layers</span>
                </div>
                <div class="heading-col"><button class="btn" @click="showThemeCatalogue=true"> + &nbsp;Add
                        Layer</button></div>
            </div>

            <div id="container" ref="container">
                <div class="layer-row" v-for="(layer,id) in selectedLayerConfigToShow">
                    <div class="layer">
                        <div class="layer-name">{{layer.displayName}}</div>

                        <div style="min-width: 80px; width:80px;">
                            <span v-if="layer && layer.tools"
                                class="material-symbols-outlined-arrow fab-action-arrow span-arrow gear-button"
                                :data-layer="layer.displayName"
                                :style="{'background-color':toolLayerConfig?.id==layer.id&&showToolModal?'crimson':'white','color':toolLayerConfig?.id==layer.id&&showToolModal?'white':'black'}"
                                title="Show tool box" @click="toggleToolbox(layer);runToolAnalysis()">
                                settings
                            </span>
                            <span class=" material-symbols-outlined-arrow fab-action-arrow span-arrow"
                                title="Move layer up" @click="swapLayers('increase',id)">
                                arrow_upward
                            </span>
                            <span class="material-symbols-outlined-arrow fab-action-arrow span-arrow"
                                title="Move layer down" @click="swapLayers('decrease',id)">
                                arrow_downward
                            </span>
                        </div>
                        <label class="switch">
                            <input type="checkbox" :id="id" :key="id" v-model="layer.isShow" @change="toggleLayer(id)">
                            <span class="slider round"></span>
                        </label>
                        <span style='flex:0' @click="removeLayer(id)"
                            class="material-symbols-outlined-close fab-action-button-close" title="Close">close</span>
                    </div>

                    <div class="layer-submenu">

                        <div class='layer-param' v-for="(param,param_key) of layer.parameters "
                            v-show="!param.showIfVal || 
                            (param.showIfVal && param.showIfYearVal && param.showIfYearVal == layer.parameters.year.selectedOption.val && (layer.parameters[param.showIfProperty].selectedOption.val==param.showIfVal))
                            ||(!param.showIfYearVal && param.showIfVal && (layer.parameters[param.showIfProperty].selectedOption.val==param.showIfVal))">

                            <span class="lbl" :style="param.displayNameStyle">{{param.displayName}}</span>


                            <button class="button-style" v-show="param.isShowPrevYearOption"
                                @click="prevYearParamDate(param);updateLayerHelper(id,param_key)">
                                y&nbsp;&lt;
                            </button>

                            <button class="button-style" v-show="param.typeOfData == 'date'"
                                @click="prevParamDate(param,layer.parameters);updateLayerHelper(id,param_key)">
                                &lt;
                            </button>

                            <select @change='updateLayerHelper(id,param_key)' v-model="param.selectedOption"
                                v-if="param.type=='choice'" :style="param.style">
                                <option v-for="option in param.options" :value="option" :title="option.title"
                                    :style="option.style">
                                    {{option?option.lbl:''}}
                                </option>
                            </select>
                            <button class="button-style" v-show="param.typeOfData == 'date'"
                                @click="nextParamDate(param,layer.parameters);updateLayerHelper(id,param_key)">
                                &gt;
                            </button>
                            <button class="button-style" v-show="param.isShowPrevYearOption"
                                @click="nextYearParamDate(param);updateLayerHelper(id,param_key)">
                                &gt;&nbsp;y
                            </button>


                            <button class="button-style" @click="changeDate(param,'prev');updateLayerHelper(id)"
                                v-if="param.type=='calendar'">
                                &lt;
                            </button>
                            <input type="date" @change='updateLayerHelper(id)' v-model="param.selectedOption.val"
                                v-if="param.type=='calendar'">
                            <input type="color" @input='updateLayerHelper(id)' v-model="param.selectedOption.val"
                                v-if="param.type=='color'">
                            <input type="number" @input='updateLayerHelper(id)' @keydown='updateLayerHelper(id)'
                                :style="param.style" v-model="param.selectedOption.val" v-if="param.type=='number'"
                                :min="param.minVal" :max="param.maxVal" :step="param.step">

                            <button class="button-style" @click="changeDate(param,'next');updateLayerHelper(id)"
                                v-if="param.type=='calendar'">
                                &gt;
                            </button>

                        </div>
                        <div v-if="layer.legendUrl" :class="[layer.legendHeight?'legendHeight':'legend']">
                            <img :src='layer.legendUrl'>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- On click of tool shows this modal -->
        <div id="toolModal" v-show="showToolModal && (!toolLayerConfig.hideToolPanel)"
            :class="[showToolModal? 'modal-display-block':'modal-display-none' ]">
            <div class="tool-modal-content">
                <div style="display: flex; cursor: pointer" id="toolModalHeader">
                    <span id="tool-modal-title">{{toolLayerConfig.displayName}}</span>
                    <span id="tool-modal-close" @click='toggleToolbox(toolLayerConfig)'>&times;</span>
                </div>

                <div class="tool-content">
                    <span class="tool-label">Tools:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <select v-model="selectedTool" @change="isShowToolOutput=false;runToolAnalysis()">
                        <option v-for="tool in toolLayerConfig.tools" :value="tool">{{tool.displayName}}</option>
                    </select>
                    <!-- This shows options of selected tool -->
                    <div class="tools-options" v-for="param of selectedTool.params">
                        <span class="tool-label" style="flex: none;">{{param.displayName}}: &nbsp;</span>
                        <select v-model="param.selectedOption" @click="runToolAnalysis();isShowToolOutput=false">
                            <option v-for="op in param.options" :value="op">{{op.displayName}}</option>
                        </select>

                    </div>
                </div>
                <div class="tool-content" id="shp-file-input" v-show="showShpFileInput">
                    <span id="file-upload-container"><input type="file" id="upload" /> </span>
                    <pre id="output"></pre>
                </div>


                <div class="tool-content">
                    {{selectedTool.helpText}}
                </div>


            </div>
        </div>
        <div v-if="loading" class="loading-backdrop">
            <div class="loading-spinner">
                <img src="assets/img/loading2a.gif" alt="Loading..." />
            </div>
        </div>
        <!-- on click add layer, displays layer catalogue to add layer for analysis -->
        <div id="myModal" class="modal" v-show="showThemeCatalogue"
            :class="[showThemeCatalogue? 'modal-display-block':'modal-display-none' ]">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span v-if="!isShowThemes && (!searchContent || searchContent.trim() === '')"
                        class="material-symbols-outlined fab-action-button" style="color: #0488d0;" title="Back"
                        v-show="!isShowThemes" @click="isShowThemes=true">arrow_back</span>
                    <span v-else-if="searchContent && searchContent.trim() !== ''"
                        class="material-symbols-outlined fab-action-button" style="color: #0488d0;"
                        v-if="filteredList && filteredList.length> 0" title="Back" @click="clearSearch()">arrow_back
                    </span>
                    <input type="text" v-model="searchContent" placeholder="Search.." class="search-text"
                        @keyup.enter="searchContent" autofocus>
                    <span class="close" style="color: #0488d0;"
                        @click='showThemeCatalogue=false;isShowThemes=true'>&times;</span>
                </div>
                <!-- if searched for layer in serach box. Displays filtered layers -->
                <div class="sub-theme-menu" v-if="filteredList">
                    <div class="subtheme-layer" v-for='layer in filteredList'>
                        <span>{{layer.displayName}} </span>
                        <button class="btn" @click="pushLayer(layer.id)"> +
                            &nbsp;Add
                        </button>
                    </div>
                </div>
                <div class="themes" v-show="isShowThemes && !filteredList">
                    <div v-for="theme in layerThemes" class="new-sub-theme">
                        <div class="theme-name">
                            {{theme.name}}
                        </div>
                        <div class='subtheme-name' v-for="sub_theme in theme.subtheme"
                            @click='sub_theme.isShow_subtheme=true;isShowThemes=false;selectedSubTheme=sub_theme'>
                            {{sub_theme.displayName}}
                        </div>

                    </div>


                </div>

                <div class="sub-theme-menu" v-show="!isShowThemes">
                    <div class="subtheme-layer" v-for="layer in selectedSubTheme.layers" :key="layer.id">
                        <span>{{ layer.displayName }}</span>

                        <!-- Info button ONLY for Tropospheric layers -->
                        <button v-if="layer.id.startsWith('Tropospheric_') || layer.id.startsWith('Aerosol_Index') "
                            class="info-btn "
                            @click="(url = layerThemes.Environment.subtheme.Airqulity.getLayerInfoUrl(layer.id)) && window.open(url, '_blank')"
                            title="More Info"
                            style="margin-left: 8px; background: #ffe821; border: none; cursor: pointer; color: #000;border-radius: 50%;font-size: 1.2rem;">i
                        </button>

                        <!-- Info button ONLY for fire layers -->
                        <button v-if="layer.id.startsWith('fire_')" class="info-btn "
                            @click="(url = layerThemes.Environment.subtheme.fire_event.getLayerInfoUrl(layer.id)) && window.open(url, '_blank')"
                            title="More Info"
                            style="margin-left: 8px; background: #ffe821; border: none; cursor: pointer; color: #000;border-radius: 50%;font-size: 1.2rem;">i
                        </button>

                        <button class="btn" @click="pushLayer(layer.id)"> + &nbsp; Add </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- On share modal opens to with link to share and copy option -->
        <div class='story-modal' :class="[isShowStoryModal? 'modal-display-block':'modal-display-none' ]">
            <div class="story-modal-content">
                <div class="story-text">
                    <div style="flex:1"> Your shareable story link is : </div>
                    <div class="story-close" @click='isShowStoryModal=false;'>&times;</div>
                </div>
                <div style="border: 1px solid rgb(153, 153, 153);
                border-radius: 20px;
                display: flex;
                align-items: center;
                padding: 10px;">
                    <textarea id="auto_resize" ref="textarea" readonly>{{storyLink}}</textarea>
                    <span @click="navigator.clipboard.writeText(storyLink);"
                        class="material-symbols-outlined fab-action-button story-copy"
                        style="font-size: 30px;">content_copy</span>
                </div>
            </div>
        </div>

        <!-- onclick of tools button below tool box modal opens -->
        <!-- on click add layer, displays layer catalogue to add layer for analysis -->
        <!-- <div id="toolBoxModal" class="modal-display-block" v-if="showToolBox">
        Modal content 
        <div class="modal-content">
            <div class="modal-header">
               
                <select v-for="tool in toolLayerConfig.tools" >
                    <option>Select</option>
                    <option>{{tool.name}}</option>
                </select>
               
               
                <span class="close" @click='showToolBox=false;'>&times;</span>
            </div>
       
        </div>
    </div> -->



        <div id='map'>
            <!-- <a href="https://www.vedas.sac.gov.in" target="_blank"> -->
            <img class="vedas-logo" src="assets/img/logo/vedas_logo.png" alt="Vedas Logo">
            <!-- </a> -->
        </div>

        <div id="mouse-position"></div>
        <div class="search-area" id="search-area">


            <div v-if="isLocationSearchVisible" class="searchBox">
                <input type="text"
                    style="border: transparent; width: 110px; padding: 3px 10px; font-size: 13px; border-radius: 3px;"
                    placeholder='Latitude,Longitude' v-model="lonLat" id='search-box' />
                <button @click="findLocation()" class="goButton">Go</button>
            </div>
            <div v-if="isLocationSearchVisible" class="searchBoxAddress">
                <input type="text" id="search-box-address" v-model="searchQuery" @input="fetchSuggestions"
                    @keydown="handleKeydown" placeholder="Enter address"
                    style="border: transparent; width: 110px; padding: 3px 10px; font-size: 13px; border-radius: 3px; " />
                <button @click="findAddress" class="goButton">Go</button>


                <div v-if="suggestions.length" class="autocomplete-items">
                    <div v-for="(item, index) in suggestions" :key="index"
                        :class="{ 'autocomplete-active': index === currentFocus }" @click="selectAddress(item)">
                        <strong v-html="highlightMatch(item.placeAddress)"></strong>
                    </div>
                </div>
            </div>
            <div v-if="gridVisible" class="searchBox">
                <input type="text"
                    style="border: transparent; width: 110px; padding: 3px 10px; font-size: 13px; border-radius: 3px;"
                    placeholder='Enter Plus Code' v-model="searchCode" id='search-box' />
                <button @click="searchPlusCode" class="goButton">Go</button>
            </div>


        </div>
        <div v-if="isMyLocationVisible" class="location-box">
            <span @click="closeLocationBox" class="material-symbols-outlined-close fab-action-button-close"
                style="position: absolute; right: 3px;" title="Close">close</span>
            <p style="margin-bottom: 8px;"><strong>Latitude:</strong> {{ myLat }}</p>
            <p style="margin-top: 8px;"><strong>Longitude:</strong> {{ myLon }}</p>
        </div>
        <div v-show="!hideFooter" class="footer">
            Copyright © 2025 - All Rights Reserved - Official website of VEDAS, SAC, ISRO, Government of India
        </div>
        <!-- Popup Notification -->
        <div v-if="isPopupVisible" class="popup" :class="{ show: isPopupVisible }">
            {{ popupMessage }}
        </div>
    </div>
</body>
<script type="module" src="js/dateConfig.js"></script>
<script type='module' src="js/app.js"></script>
<script type="text/javascript" src="js/lib/google_analytics.js"></script>
<script type='module' src="js/chart.js"></script>
<script type="module" src="js/layers_config.js"></script>
<script type="module" src="js/themes_config.js"></script>


</html>